<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="cdbdbc86-7c58-4121-9f49-f70b74f2bd1e" name="Script Sxamples">
  <con:settings id="8ac001cd-2c56-42b8-837a-4c1843fc2c3e">
    <con:setting id="cdbdbc86-7c58-4121-9f49-f70b74f2bd1efileName">Script-Sxamples</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
