<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="cdbdbc86-7c58-4121-9f49-f70b74f2bd1e" name="Script Sxamples">
  <con:settings id="56320c4c-04d8-4353-b95a-75df43ff7e1b">
    <con:setting id="cdbdbc86-7c58-4121-9f49-f70b74f2bd1efileName">Script-Sxamples</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
