<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="cdbdbc86-7c58-4121-9f49-f70b74f2bd1e" name="Script Sxamples">
  <con:settings id="140daead-f1d6-452a-bfd3-c2a90af82d3b">
    <con:setting id="cdbdbc86-7c58-4121-9f49-f70b74f2bd1efileName">Script-Sxamples</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
